.listado{
	display: flex;
	flex-direction: row;
	padding:40px 20px;
}
.listado li{
	padding: 0 10px;
}
.listado li label{
	padding-bottom: 5px;
	display: block;
}
.listado li input{
	width: 100%;
	padding: 5px;
}
.listado li button{
	width: 100%;
	padding: 16px 20px;
	background: orange;
	border: 0;
	cursor: pointer;
	font-family: 'Press Start 2P', cursive;
	color: #fff;
	box-shadow: 0 5px 5px rgba(0,0,0,.5);
}
.listado li button:hover{
	box-shadow: 0 0 0 rgba(0,0,0,.5)
}