.info{
	
}
.info h2{
	font-size: 20px;
	font-family: 'Press Start 2P', cursive;
	text-align: left;
	padding-bottom: 40px;
}
.info p{
	font-size: 16px;
	font-family: 'Roboto Mono', monospace;
	text-align: left;
	line-height: 1.25em;
}
.evolucion img{
	display: block;
	width: 100%;
}